page-map-auto-compleate .ion-modal {
     position: absolute;
    top: 50px;
    left: 79px;
    display: block;
    width: 70%;
    height: 70%;
}
.ion-modal {
     position: absolute;
    top: 50px;
    left: 79px;
    display: block;
    width: 70%;
    height: 70%;
}